## Service config
## --------------

# == AfricasTalking ============================================================

# Set username to `sandbox` if using a test/develop environment.
AFRICAS_TALKING_USERNAME=your_user_name

# Access the following URL to access your API key.
# See: https://account.africastalking.com/apps/sandbox/settings/key
AFRICAS_TALKING_API_KEY=your_api_key
